@import './../../css/Global';

.footer {
    background-color: $black;
    color: $white;
    text-align: center;

    @include breakpoint(tabletPortrait) {
        padding: 45px 0 70px;
    } 

    @include breakpoint(tabletLandscape) {
        padding: 90px 0 140px;
    } 

    .opening-text {
        &__title {
            color: $yellow;
        }

        &__subtitle {
            color: $grey-2;
            margin-bottom: 45px;
        }
    }

    &__form {
        @include breakpoint(tabletPortrait) {
            margin-bottom: 40px;
        } 
    
        @include breakpoint(tabletLandscape) {
            margin-bottom: 80px;
        } 

        &__text-field {
            border: none;
            border-radius: 5px;
            box-sizing: border-box;

            @include breakpoint(tabletPortrait) {
                font-size: 14px;
                margin-right: 10px;
                padding: 14px;
                width: calc(100% - 90px);
            }

            @include breakpoint(tabletLandscape) {
                margin-right: 20px;
                padding: 16px 25px;
                width: 580px;
            }

            &::placeholder {
                color: $grey-2;
            }
        }

        &__button {
            background-color: $yellow;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                animation: gelatine .5s;
                cursor: pointer;
            }

            @include breakpoint(tabletPortrait) {
                font-size: 14px;
                padding: 14px;
            }

            @include breakpoint(tabletLandscape) {
                padding: 16px 35px;
            }
        }
    }

    &__social-medias {

        @include breakpoint(tabletPortrait) {
            margin-bottom: 60px;
        } 
    
        @include breakpoint(tabletLandscape) {
            margin-bottom: 120px;
        } 

        li {
            display: inline-block;
            margin: 0 15px;
        }

        &__icon {
            color: $yellow;
            font-size: 40px;
            text-decoration: none;

            &:hover {
                animation: gelatine .5s;
                cursor: pointer;
            }
        }
    }

    &__extra {
        text-align: left;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &__contact {
            margin-bottom: 40px;
            max-width: 190px;

            @include breakpoint(tabletLandscape) {
                display: inline-block;
                margin-right: 100px;
            } 

            li {
                margin-bottom: 10px;
            }
        }

        &__links {
            display: inline-block;
            margin-bottom: 20px;
            vertical-align: top;

            @include breakpoint(tabletPortrait) {
                width: 25%;
            } 

            @include breakpoint(mobile) {
                width: 50%;
            }

            @include breakpoint(tabletLandscape) {
                width: 17%;
            } 

            &__item {
                margin-bottom: 5px;
            }
        }
    }
}