@import './../../css/Global';

.opening-text {
    &__title {
        margin: 0 0 20px;

        @include breakpoint(tabletPortrait) {
            font-size: 24px;
        }
        
        @include breakpoint(tabletLandscape) {
            font-size: 32px;
        }
    }

    &__subtitle {
        font-weight: normal;
        margin: 0 0 20px;

        @include breakpoint(tabletPortrait) {
            font-size: 16px;
        }
        
        @include breakpoint(tabletLandscape) {
            font-size: 20px;
        }
    }
}