@import './../../css/Global';

.tinyone-features {
    text-align: center;

    @include breakpoint(tabletPortrait) {
        padding: 60px 0 80px;
    }

    @include breakpoint(tabletLandscape) {
        padding: 120px 0 160px;
    }

    &__content {
        text-align: left;

        &__box {
            box-sizing: border-box;
            display: inline-block;
            margin-top: 50px;
            padding: 0 25px 0 62px;
            position: relative;

            @include breakpoint(tabletPortrait) {
                width: 50%;
            }
            
            @include breakpoint(mobile) {
                width: 100%;
                padding-right: 0;
            } 
                
            @include breakpoint(tabletLandscape) {
                width: 33.33%;
            } 

            &__icon {
                font-size: 36px;
                position: absolute;
                top: 0;
                left: 0;
            }

            &__title {
                font-size: 22px;
                font-weight: normal;
                margin: 0;
            }

            &__content {
                color: $grey-2;
            }
        }
    }
}