@import './../../css/Global';

.header {
    background-color: $yellow;
    padding: 25px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    @include breakpoint(tabletLandscape) {
        padding: 50px 0;
    }

    &:before {
        background-color: $black;
        content: '';
        height: 100vh;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: .35s opacity ease-in-out, .35s visibility ease-in-out;
        visibility: hidden;
        width: 100vw;
    }

    &.shade {
        &:before {
            opacity: .75;
            visibility: visible;
        }
    }

    &__logo {
        float: left;
        margin: 0;

        &__link {
            display: block;
            height: 43px;
        }
    }

    &__nav {
        box-sizing: border-box;
        float: right;

        @include breakpoint(tabletPortrait) {
            background-color: $yellow;
            height: 100vh;
            left: 0;
            padding: 25px 20px;
            position: fixed;
            top: 0;
            transform: translateX(-100%);
            transition: .35s transform ease-in-out;
            width: 280px;
        }

        &.show {
            transform: translateX(0);
        }

        &__header__button {
            float: right;
            font-size: 24px;

            @include breakpoint(tabletLandscape) {
                display: none;
            }
        }

        &__list {
            list-style: none;
            margin: 10px 0 0;
            padding: 0;

            &__item {
                @include breakpoint(tabletLandscape) {
                    display: inline-block;
                    margin-left: 65px;
                }

                &__link {
                    color: $black;
                    display: inline-block;
                    font-size: 22px;
                    font-weight: bold;
                    text-decoration: none;

                    @include breakpoint(tabletPortrait) {
                        padding: 15px 0;
                        width: 100%;
                    }

                    @include breakpoint(tabletLandscape) {
                        transition: transform .25s ease-out;
                        
                        &:hover {
                            transform: scale(1.25)
                        }
                    }
                }
            }
        }
    }

    &__button {
        float: right;
        font-size: 2em;
        margin: 5px 10px 0 0;

        @include breakpoint(tabletLandscape) {
            display: none;
        }
    }
}