@import './../../css/Global';

.inspire {
    background-color: $yellow;

    @include breakpoint(tabletPortrait) {
        padding: 50px 0 75px;
    }

    @include breakpoint(tabletLandscape) {
        padding: 0 0 75px;
    }

    .opening-text__text {
        color: $grey-1;
        margin-bottom: 30px;

        @include breakpoint(tabletPortrait) {
            font-size: 14px;
        } 
    }

    &__left-area {
        box-sizing: border-box;
        padding-bottom: 50px;
        vertical-align: top;

        @include breakpoint(tabletLandscape) {
            display: inline-block;
            padding: 75px 75px 0 0;
            width: 50%;
        } 

        &__icon {
            font-size: 40px;
            margin-right: 25px;
        }
    }

    &__right-area {
        box-sizing: border-box;
        padding-bottom: 50px;
        text-align: center;

        @include breakpoint(tabletLandscape) {
            display: inline-block;
            width: 50%;
        }
        
        .inspire__right-area__slide1-img {
            @include breakpoint(tabletPortrait) {
                display: inline-block;
                max-width: 50%;
            }
        }
    }

    &__others-slides {
        font-size: 48px;
        font-weight: bold;
        margin-top: 100px;
        text-align: center;
    }

    // Slick Slider

    .slick-arrow {
        display: none !important;
    }

    .slick-dots {        
        button:before {
            color: $white;
            font-size: 15px;
            opacity: .5;
        }

        .slick-active {
            button:before {
                color: $white;
                font-size: 15px;
                opacity: 1;
            }
        }
    }
}