// Media queries definitions

@mixin breakpoint($point) {

    @if $point == mobile {
        @media (max-width: 767px)  { 
            @content ; 
        }
    }
    
    @if $point == tabletPortrait {
        @media (max-width: 1023px) { 
            @content ; 
        }
    }

    @else if $point == tabletLandscape {
        @media (min-width: 1024px) { 
            @content ; 
        }
    }

    @else if $point == desktopSmall {
        @media (max-width: 1280px) { 
            @content ; 
        }
    }    

    @else if $point == desktopMedium {
        @media (min-width: 1281px) { 
            @content ; 
        }
    }

    @else if $point == desktopLarge {
        @media (min-width: 1440px) { 
            @content ; 
        }
    }

}