// SASS files imports and global definitions

@import "./normalize";
@import "./Animations";
@import "./Breakpoints";
@import "./Colors";
@import "./Fonts";
@import "./Layout";

body {
    font: 16px 'PT Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}