// Grids and structure

body {
    @include breakpoint(tabletPortrait) {
        padding-top: 93px;
    }

    @include breakpoint(tabletLandscape) {
        padding-top: 143px;
    }

    .container {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @include breakpoint(tabletLandscape) {
            max-width: 940px;
            padding-left: 0;
            padding-right: 0;

            &.small {
                max-width: 780px;
            }
        }
    }
}